@import '../node_modules/antd/dist/antd.css';

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #eeeeee;
}

.ant-tabs-nav-container {
  background-color: #dfdfe0;
  text-align: center;
}

.basic-card {
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.2 );
  margin-bottom: 10px;
}

.basic-card .ant-card-body {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.locked.ant-switch-checked {
  background-color: #d2584f;
}

.unlocked {
  background-color: #4fd262;
}

.unlocked + .lock-state-text {
  color: #4fd262;
}

.locked + .lock-state-text {
  color: #d2584f;
}

.upcomingTag {
  background-color: #f4f6a7;
  color: #765b09;
  font-weight: bold;
}

.activeTag {
  background-color: #c5f6a7;
  color: #2a5a0e;
  font-weight: bold;
}

.card-contents {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 12px;
  box-sizing: border-box;
  justify-content: space-between;
}

.card-contents h2,
.card-contents h3 {
  margin: 0;
  padding: 0; 
}

.card-contents h2 {
  line-height: 1em;
  font-weight: bold;
}

.card-contents h3 {
  color: #a1a1a1;
}

.lock-state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.temperatureDisplay,
.temperatureArrow {
  flex: 1;

}